<h1>Interviewee Login</h1>

<% if flash[:error] %>
    <%= flash[:error] %>
<% end %>


<%= bootstrap_form_for(:session, layout: :inline, url: interviewee_login_path) do |f| %>
    <%= f.text_field :username %>
    <%= f.password_field :password %>
    <button type="submit" class="btn btn-primary mb-2">Log In</button>
<% end %>