<h1>Welcome to the Interview App Homepage</h1>

<h3>Interviewees</h3><br>

New Users: <%= button_to "Sign-up Here", new_interviewee_path, method: :get %><br>
Existing Users: <%= button_to "Log-in Here", new_interviewee_login_path, method: :get %><br>

<h3>Interviewers</h3><br>

New Users: <%= button_to "Sign-up Here", new_interviewer_path, method: :get %><br>
Existing Users: <%= button_to "Log-in Here", new_interviewer_login_path, method: :get %><br>