<h1>Welcome to the Interview App Homepage</h1>
<div> 
<h3>Interviewees</h3><br>

New Users:<br>
<a href="/interviewees/new/" class="btn btn-info" role="button">Sign-up Here</a><br>
<br>
Existing Users: <br>
<a href="/sessions/new?" class="btn btn-info" role="button">Log-in Here</a><br>

<h3>Interviewers</h3><br>

New Users: <br>
<a href="/interviewers/new/" class="btn btn-info" role="button">Sign-up Here</a><br>
<br>
Existing Users: <br>
<a href="/sessions/new_int?" class="btn btn-info" role="button">Log-in Here</a><br>
</div>